/* CSS declarations go here */
*:focus { outline: 0; }
a { text-decoration: none; }
html, body { height: 100%; }
html { overflow-y: hidden; }

body {
    overflow-y: scroll;
    font-family: FontAwesome, Helvetica, sans-serif;
    position: absolute;
    background-color: #f5f5f5;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 16px;
}
#container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

header{
    border: 1px solid black;
    position: absolute;
    width: 100%;
    z-index: 100;
}

ul {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
li {
  position: relative;
  list-style: none;
  padding: 1em;
  //font-size: 1em;
  margin-bottom: 0.5em;
}
