<template name="header">
    <header>
        <a href="#" class="logout"><i class="fa fa-sign-out"></i></a>
        | <a href="{{pathFor 'profile'}}">profile</a>
        | <a href="{{pathFor '/'}}">main</a>
    </header>
</template>
