<template name="image">
    <img src="{{image.link}}" alt="{{image.name}}" width="300" />
    <form>
        <input type="text" name="name" placeholder="name" value="{{image.name}}">
        <input type="submit">
    </form>
    <form>
        <input type="text" name="dimensions" placeholder="dimensions" value="{{image.meta.dimensions}}">
        <input type="submit">
    </form>
    <form>
        <input type="text" name="artist" placeholder="artist" value="">
        <input type="submit">
    </form>
    <form>
        <input type="text" name="contact" placeholder="contact" value="">
        <input type="submit">
    </form>
</template>
