<template name="profile">
    {{> header}}
    <br><br>
    <form>
        <input type="text" name="username" value="{{currentUser.profile.name}}">
        <textarea name="userbio" rows="8" cols="80">{{currentUser.profile.bio}}</textarea>
        <input type="submit">
    </form>
    {{#with currentUpload}}
        Uploading <b>{{file.name}}</b>:
        <span id="progress">{{progress.get}}%</span>
    {{else}}
        <input id="fileInput" type="file" />
    {{/with}}

    {{#each images}}
        <button type="button" name="button" class="remove">remove</button>
        <a href="{{pathFor 'image' _id=this._id}}">
            <img src="{{link}}" alt="{{name}}" width="100" />
        </a>
    {{/each}}
</template>
